.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

h2 {
  text-align: center;
  background-color: #E9AB33;
  color: #fff;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  margin-right: 5px;
}


textarea {
  width: 100%;
  height: 80px;
}

button[type="submit"] {
  background-color: rgb(2, 132, 208);
    color: #fff;
    border: 1px solid rgb(2, 132, 208);
    border-radius: 15px;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #ffffff;
  color: rgb(2, 132, 208);
  border: 1px solid rgb(2, 132, 208);
}

/* responsive styles for smaller screens */
@media (max-width: 480px) {
  .form-container {
    font-size: 14px; /* decrease font size of text on smaller screens */
  }
  
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: -30%;
}

.form-row label {
  margin-right: 5px;
}

textarea {
  width: 100%;
  }

}
