.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 5px;

}

/* background image */
body {
  background-image: url("https://img.freepik.com/premium-vector/hexagon-technology-connect-modern-style-blue-background-internet-connection-network-high-digital-technology-abstract-background-technology-graphic-design_46577-751.jpg?w=900");
}

.logo {
  width: 240px;
  height: 140px;
  margin-bottom: 0;
  margin-top: -10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.portal-title {
  font-size: 24px;
  font-weight: 600;
  color: #334155;
  margin-bottom: 10px;
}
.title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #0072B6;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: 600;
  color: #334155;
  margin-bottom: 5px;
  margin-left: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #334155;
  width: 90%;
}

.password-input-container {
  position: relative;
  display: flex;
  width: 100%;
}

.show-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #0070c0;
  margin-right: 20px;
}

button {
  padding: 10px;
}

.login-button {
  background-color: rgb(33, 186, 233);
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  border-color: rgb(33, 186, 233);
  width: 100px;
  margin-left: 85px;
}

.login-button:hover {
  background-color: white;
  color: rgb(33, 186, 233);
}

/* Responsive Styles */

@media (max-width: 480px) {
  .login-form {
    width: 80%;
    padding: 30px;
  }

  .logo {
    width: 180px;
    height: auto;
  }

  .title {
    font-size: 28px;
  }

  .login-button {
    padding: 12px 24px;
    font-size: 16px;
    margin-left: 60px;
  }

  .show-password {
    font-size: 12px;
  }
}
