.qrcode-scanner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  .qrcode-scanner-container {
    max-width: 600px;
    width: 90%;
    padding: 20px;
    background-color: #E9AB33;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .qrcode-scanner-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff
  }
  
  .qrcode-scanner {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .qrcode-scanner-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .qrcode-scanner-result {
    margin-top: 20px;
    font-size: 18px;
  }
  