.admin-home-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .admin-home-page-buttons button {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #E9AB33;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 15rem;
  }
  
  .admin-home-page-buttons button:hover {
    background-color: #C79119;
  }
  