/* background image */
body {
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/premium-vector/hexagon-technology-connect-modern-style-blue-background-internet-connection-network-high-digital-technology-abstract-background-technology-graphic-design_46577-751.jpg?w=900");
    background-size: cover;
  }
  
  
.containerTickets{
    width: 80%;
    margin: auto;
}

caption
{
    margin: 25px 0;
    color: #ffffff;
}

tr {
    background-color: #fff;
}